select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  color: rgb(2, 2, 2);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  transition: border-color 0.2s;
}

select:focus {
  outline: none;
  border-color: #3737a3;
  box-shadow: 0 0 5px rgba(55, 55, 163, 0.5);
}

.centers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f0f8ff 0%, #d1e0ff 100%);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}

.bg {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 20px;
}

.start-quiz-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3737a3;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-top: 10px;
}

.start-quiz-button:hover {
  background-color: #2828a3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.start-quiz-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(55, 55, 163, 0.5);
}
