<div *ngIf="showHeader" class="centers">
  <div class="bg">
    <h1 style="text-align: center;font-family: 'Courier New', Courier, monospace;">Welcome to QuizApp</h1>
    <p>Select Category:</p>
    <select [(ngModel)]="selectedCategory" (input)="onCategoryChange()">
      <option value="" disabled selected>Select a category</option>
      <option value="/history">History</option>
      <option value="/computer">Computer</option>
      <option value="/mythology">Mythology</option>
      <option value="/math">Mathematics</option>
      <option value="/geography">Geography</option>
      <option value="/vehicle">Vehicle</option>
      <option value="/music">Music</option>
      <option value="/animals">Animals</option>
      <option value="/books">Books</option>
      <option value="/sports">Sports</option>
    </select>

    <button (click)="startQuiz()" class="start-quiz-button">Start Quiz</button>
  </div>
</div>

<router-outlet></router-outlet>
