.quiz-container {
  font-family: 'Courier New', Courier;
  font-size: .8rem;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;          
    padding: 20px;          
  }
  
  .question-card {
    background-color: white; 
    border-radius: 8px;      
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;          
    text-align: center;     
    width: 100%;             
    max-width: 700px;      
  }
  
  .answers-container {
    margin: 20px 0;        
  }
  
  .answer-button {
    display: inline-block;   
    background-color: rgb(63, 81, 181); 
    color: white;           
    border: none;           
    border-radius: 5px;    
    padding: 10px 20px;    
    margin: 5px;           
    cursor: pointer;       
    transition: background-color 0.3s; 
  }
  
  .answer-button:hover {
    background-color: rgb(33, 150, 243); 
  }
  
  .quiz-completed {
    text-align: center;     
    padding: 20px;          
  }
  
  .restart-button {
    font-family: 'Courier New', Courier, monospace;
    font-size: .8rem;
    background-color: rgb(76, 175, 80); 
    color: white;                
    border: none;                
    border-radius: 5px;        
    padding: 10px 20px;        
    cursor: pointer;            
  }
  .quiz-completed-card {
    font-family: 'Courier New', Courier, monospace;
    font-size: .8rem;
    display: flex;                    
    justify-content: center;         
    align-items: center;              
    flex-direction: column;           
    max-width: 400px;                 
    margin: 40px auto;                
    background-color: white;          
    border-radius: 8px;              
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;                    
    text-align: center;               
}

.quiz-completed-card h2 {
    margin-bottom: 20px;              
    font-size: 1.8rem;                
}

.quiz-completed-card p {
    margin-bottom: 20px;              
    font-size: 1.2rem;               
}

.quiz-completed-card button {
    padding: 10px 20px;              
    background-color: rgb(127, 127, 216); 
    color: white;                    
    border: none;                    
    border-radius: 5px;              
    cursor: pointer;                  
    transition: background-color 0.3s; 
}

.quiz-completed-card button:hover {
    background-color: rgb(100, 100, 180); 
}
.answers-container {
    display: flex;                     
    flex-wrap: wrap;                  
    justify-content: center;         
    align-items: center;
}

.answer-button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.4rem;
    flex: 0 0 48%;                    
    margin: 5px;                   
    padding: 10px;                    
    background-color: rgb(127, 127, 216); 
    color: white;                  
    border: none;                     
    border-radius: 5px;             
    cursor: pointer;                 
    transition: background-color 0.3s; 
}
.question-card h2{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
}
.question-card p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3rem;
}
.answer-button:hover {
    background-color: rgb(100, 100, 180);
}

